


<form method="post" action="Add">
   <div>
        <div class="mb-3">
            <label for="employee first name" class="form-label">First Name</label>
            <input type="text" class="form-control" name="FName" id="FName">

        </div>

        <div class="mb-3">
            <label for="employee last name" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="LName" id="LName" />

        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" name="Email" id="Email" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="contact number" class="form-label">Contact Number</label>
            <input type="text" class="form-control" name="ContactNo" id="ContactNo" aria-describedby="emailHelp">

        </div>

        <div>
             <button type="submit" class="btn btn-primary">Submit</button> 
            @* <input type="button" action="submit" value="Submit"/> *@
        </div>
   </div>
</form>
   
 
         

