<h2>State Management</h2>
<hr />

<h4>Client Side State Management</h4>
<br />
<a href="/StateManagement/localstorage">Local storage</a> |
<a href="/StateManagement/sessionstorage">Session storage</a> |
<a href="/StateManagement/login">Login</a>

<h4>Server Side State Management</h4>

<br />
<a href="/shoppingcart/tempdata">TempData</a> |
<a href="/shoppingcart/session">Session</a> 